#exportPattern("..*")

export(knnI) 
export(knn.cvI)
export(glmI.logistic)
export(hclustI)
export(kmeansI)
export(pamI)
export(nnetI)


export(randomForestI)
export(dldaI)
export(rpartI)
export(ldaI)
export(svmI)
export(qdaI)
export(RABI)
export(lvqI)
export(naiveBayesI)
export(ksvmI)
export(adaI)
export(blackboostI)
export(nnetI)
export(baggingI)
export(sldaI)
export(plsdaI)
export(RAB)
export(DAB)
export(makeLearnerSchema)
export(confuTab)
export(gbm2)
export(BgbmI)
export(projectLearnerToGrid)

export(balKfold.xvspec)
export(ldaI.predParms)
export(xvalSpec)
export(fs.absT)
export(fs.probT)
export(fs.topVariance)

exportMethods("show", "RObject", "confuMat", "trainInd",
              "precision", "recall", "sensitivity", "macroF1",
              "F1", "acc", "tp", "tn", "fp", "fn", "specificity",
              "MLearn", "planarPlot", "Predict", "getVarImp",
              "trainScores","trainPredictions",
              "testScores", "testPredictions",
              "predictions", "predScores", "predScore",
              "fsHistory", "report", "getDist", "getConverter")



# from CHECK of 3/25/2020

  importFrom("grDevices", "colorRampPalette")
  importFrom("graphics", "axis", "barplot", "image", "legend", "pairs",
             "par", "points", "text")
  importFrom("methods", "is", "new")
  importFrom("stats", "as.formula", "cutree", "dist", "hclust", "mad",
             "median", "model.frame", "model.matrix", "model.response",
             "na.fail", "prcomp", "predict", "quantile", "terms", "var")
  importFrom("magrittr", "%>%")
  import(SummarizedExperiment)



